@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1 {
  font-size: 70px;
  line-height: 1.1; /* Adjust as needed for spacing */
  font-weight: bold;
}

h3{
  font-size: 40px;
  --a: -90deg; /* control the angle */
  --t: .1em; /* thickness of the underline */ 
}

h3 span {
  --_s: calc(var(--t)*cos(var(--a)));
  background:
    linear-gradient(var(--a),#0000 var(--_s),currentColor 0 calc(100% - var(--_s)),#0000 0) 
    bottom/var(--i,90%) var(--t) no-repeat;
  padding: 0 .25em calc(var(--t) + .1em);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  transition: .3s;
}

h3:hover span {
  --i: 100%;
}

/* h3:before {
    content:""; 
    position:absolute; 
    bottom:1px; 
    width:100%;
    height:5px;                          
    background:#000;
} */